extend layout
block content
  p
    | With tools like Linux and Node.js you can 
    | utilize the full power of Javascript.
  p
    | This is just the beginning of what's possible.
    | Developers prefer using linux because it provides 
    | freedom to customise everything to your desired preferences.
    | Not to mention that when it comes to finding tools you need for 
    | development thing are almost always made with Linux in mind
    
  h1 
  
  
    
block sidebar
  .widget
    h1 All of these also run on Linux
    
    ul   
        li Google
        li Facebook
        li IBM Mainframes
        li This Website
        li Pretty Much Like 90% of the World 
        
    